---
layout: default
permalink: /
title: Home
---
<!-- Current version download -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well text-center">
			<h2>Lavendeux enhances the clipboard</h2>
			<p>Lavendeux inlines calculating, programming and testing utilities into your favourite text editor. Test the result of a remote API call, check the result of a regular expression and much more, all without needing to break your workflow.</p>
			<h4>Most recent version <small>{{ site.data.releases[0].name }}</small></h4>
			<p><a href="{{ site.data.config.path }}/downloads">More downloads</a></p>

			<!-- For large screens -->
			<div class="btn-group hidden-xs" role="group">
				<!-- Windows downloads -->
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Download for Windows
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="{{ site.data.releases[0].downloads.win_install }}" onClick="trackDownload(this);">Installer</a></li>
						<li><a href="{{ site.data.releases[0].downloads.win_zip }}" onClick="trackDownload(this);">Portable</a></li>
					</ul>
				</div>

				<!-- Source downloads -->
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Source Code
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="{{ site.data.releases[0].downloads.github }}">View on Github</a></li>
						<li><a href="{{ site.data.releases[0].downloads.source }}" onClick="trackDownload(this);">Download</a></li>
					</ul>
				</div>
			</div>

			<!-- For small screens -->
			<div class="btn-group-vertical visible-xs" role="group">
				<!-- Windows downloads -->
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Download for Windows
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="{{ site.data.releases[0].downloads.win_install }}" onClick="trackDownload(this);">Installer</a></li>
						<li><a href="{{ site.data.releases[0].downloads.win_zip }}" onClick="trackDownload(this);">Portable</a></li>
					</ul>
				</div>

				<!-- Source downloads -->
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Source Code
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="{{ site.data.releases[0].downloads.github }}">View on Github</a></li>
						<li><a href="{{ site.data.releases[0].downloads.source }}" onClick="trackDownload(this);">Download</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Try-me panel -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">How to use it</h3>
	</div>
	<div class="panel-body">
		<p>With Lavendeux running, highlight the following block of text, and press <kbd><kbd>ctrl</kbd> + <kbd>space</kbd></kbd></p>
		<textarea class="form-control pre" rows="3">{% include usage_sample.txt %}</textarea>

		<h4>What was that?</h4>
		<p>The first line adds an integer to a scientific notation number.</p>
		<p>The second line stores the square root of 16 in a variable named x. </p>
		<p>The final line takes the third power of x, and returns the result as a hexadecimal number.</p>
	</div>
</div>

<!-- Try-me panel -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Extend Lavendeux with Python!</h3>
	</div>
	<div class="panel-body">
		<p><a href="{{ site.data.config.path }}/extensions">Extensions</a> can be used to add functionality with Lavendeux version 0.5.0 and up!</p>
		<p>With Lavendeux running, highlight the following block of text, and press <kbd><kbd>ctrl</kbd> + <kbd>space</kbd></kbd></p>
		<textarea class="form-control pre" rows="4">{% include extension_usage_sample.txt %}</textarea>
	</div>
</div>

<!-- Ooh-la-la panel -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">What it can do</h3>
	</div>
	
	<div class="panel-body">
		Please click <a href="{{ site.data.config.path }}/features">here</a> for usage help, and a list of features
	</div>

	<div class="panel-body">
		<dt>There are also many functions and decorators added by extensions, including many relevant to programming, and writing</dt>
		<dd><a href="{{ site.data.config.path }}/extensions">More information</a></dd>
	</div>
</div>
