.main-nav-menu {
	border-bottom: 1px solid #666;
}

.main-nav-menu i {
	color: inherit !important;
}

.nav-content {
	padding-left: 30px;
	padding-right: 30px;
}

.dark-theme .nav-content p {
	color: #FFF;
}

.nav-link.active {
	color: #000 !important;
}