.lav-nav {
  background-color: #235daa;
}

.lav-nav a {
  color: #DDD;
}

.lav-nav .nav-link:hover {
  color: #FFF;
}

.lav-nav .nav-link.active {
  color: #FFF !important;
}

html, body {
  /*user-select: none;*/
  min-height: 100vh;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.inner-wrapper {
  min-height: 100vh;
}

.nav-sidebar {
  width: 175px !important;
  padding-top: 15px;
}

.root-container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.obvious-toggle input:not(:checked) {
  background-color:var(--bs-danger-bg-subtle) !important;
  border-color: var(--bs-danger) !important;
}

.obvious-toggle input:checked {
  background-color:var(--bs-success-bg-subtle) !important;
  border-color: var(--bs-success) !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}

[contenteditable]:focus {
  border-bottom: 2px dotted var(--bs-info-bg-subtle);
}