.nav-tabs {
	padding-top: 30px;
	padding-left: 30px !important;
}

.nav-content {
	padding-left: 30px;
	padding-right: 30px;
}

.card {
	margin-bottom: 30px;
}

.main-nav {
	background-color: #FFF;
}

.nav-tab {
	margin-top: 88px;
}

.arrow-button {
	color: #000 !important;
	background: none !important;
	border: none !important;
}

.code-sample {
	background-color: #1f2937;
	color: #e5e7eb;
	padding: 1.1111111em 1.3333333em;
	line-height: 1.75;
	margin-bottom: 2em;
	border-radius: .375rem;
}

.code-sample .comment {
	color: #33cc33;
}

.code-sample .data {
	color: #6699ff;
}

.code-sample .radix {
	color: #cc00cc;
}

.code-sample .decorator {
	color: #cc3300;
}

.code-sample .function {
	color: #ff9900;
}

body {
	background: none !important;
}