.nav-tabs {
	padding-top: 30px;
	padding-left: 30px !important;
}

.nav-content {
	padding-left: 30px;
	padding-right: 30px;
}

.card {
	margin-bottom: 30px;
}

.main-nav {
	background-color: #FFF;
}

.nav-tab {
	margin-top: 88px;
}

.arrow-button {
	color: #000 !important;
	background: none !important;
	border: none !important;
}

body {
	background: none !important;
}