.dark-theme, .dark-theme ul, .dark-theme li, .dark-theme .nav-link.active, .dark-theme .list-group-item {
	background-color: #000 !important;
}

.dark-theme, .dark-theme .theme-p, .dark-theme h4, .dark-theme strong {
	color: #FFF;
}

.dark-theme .list-group-item {
	border-color: #666;
}

.dark-theme dl, .dark-theme table, .dark-theme .nav-link.active, .dark-theme .btn-dark, .dark-theme i, .dark-theme td {
	color: #FFF !important;
}