100 ICON "../icon/lavendeux.ico"
1 VERSIONINFO
FILEVERSION     0,1,1,0
PRODUCTVERSION  0,1,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Richard Carson"
      VALUE "FileDescription", "Lavendeux"
      VALUE "FileVersion", "0.1.1"
      VALUE "InternalName", "Lavendeux"
      VALUE "LegalCopyright", "Copyright Richard Carson, 2016"
      VALUE "OriginalFilename", "lavendeux.exe"
      VALUE "ProductName", "Lavendeux"
      VALUE "ProductVersion", "0.1.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END